<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>XErrorX</title>
</head>
<body>
    <center>
        <h1>¡Upss! Algo salio mal</h1>
        <br>
        <img src="img/error.png" width="100" height="100">
        <br>
        <h5>Intentelo mas tarde</h5>
        <a href="/principal" class="btn waves-effect waves-light">Volver</a>
    </center>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>