<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Libreria</title>
</head>
<body id="index">
    <section>
        <div class="container">
            <h1>Bienvenido</h1>
            <br>
            <div class="row center-align">
                <div class="col s15 m3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="img/agregar.png">
                        </div>
                        <div class="card-content">
                            <p>Agregar un nuevo libro a la base de datos</p>
                        </div>
                        <div class="card-action">
                            <a href="/registro" class="btn waves-effect waves-light">Registrar libro</a>
                        </div>
                    </div>
                </div>

                <div class="col s15 m3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="img/librero.png">
                        </div>
                        <div class="card-content">
                            <p>Consultar la tabla de libros registrados</p>
                        </div>
                        <div class="card-action">
                            <a href="/libros" class="btn waves-effect waves-light">Consultar libros</a>
                        </div>
                    </div>
                </div>

                <div class="col s15 m3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="img/githublogo.jpg">
                        </div>
                        <div class="card-content">
                            <p>Visitar el repositorio de GitHub</p>
                        </div>
                        <div>
                            <a href="" class="btn waves-effect waves-light">Visitar repositorio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>
            Creado por Julian
            <br>
            Esta pagina solo fue creada por motivos educativos, no se tiene pensado usarlo en negocios
        </p>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>